-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: celr_app
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(50) NOT NULL,
  `entity_type` varchar(50) NOT NULL,
  `entity_id` int(11) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `old_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`old_values`)),
  `new_values` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`new_values`)),
  `ip_address` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_audit_entity` (`entity_type`,`entity_id`),
  KEY `idx_audit_user` (`user_id`),
  KEY `idx_audit_date` (`created_at`),
  CONSTRAINT `audit_logs_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=109 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `person_type` enum('F├¡sica','Jur├¡dica') NOT NULL,
  `firstname` varchar(100) DEFAULT NULL,
  `lastname1` varchar(100) DEFAULT NULL,
  `lastname2` varchar(100) DEFAULT NULL,
  `business_name` varchar(200) DEFAULT NULL,
  `legal_id` varchar(50) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `mobile` varchar(20) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `country` varchar(100) DEFAULT 'Costa Rica',
  `department` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_person_type` (`person_type`),
  KEY `idx_active` (`active`),
  KEY `idx_business_name` (`business_name`),
  KEY `idx_lastname` (`lastname1`),
  KEY `idx_clients_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `config`
--

DROP TABLE IF EXISTS `config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `currency` varchar(10) DEFAULT 'COP',
  `base_country` varchar(100) DEFAULT 'Colombia',
  `currency_symbol` varchar(10) DEFAULT '$',
  `decimal_separator` varchar(1) DEFAULT ',',
  `thousands_separator` varchar(1) DEFAULT '.',
  `decimal_count` int(11) DEFAULT 0,
  `default_rete_fuente` decimal(5,2) DEFAULT 0.00,
  `default_rete_ica` decimal(5,2) DEFAULT 0.00,
  `default_iva_percent` decimal(5,2) DEFAULT 0.00,
  `default_rete_iva_percent` decimal(5,2) DEFAULT 0.00,
  `ganancia_nacional_percent` decimal(5,2) DEFAULT 0.00,
  `ganancia_urbano_percent` decimal(5,2) DEFAULT 0.00,
  `weight_unit` varchar(20) DEFAULT 'Toneladas',
  `distance_unit` varchar(20) DEFAULT 'Kil├│metros',
  `maint_warning_kms` int(11) DEFAULT 500,
  `doc_warning_days` int(11) DEFAULT 30,
  `last_backup_at` datetime DEFAULT NULL,
  `business_name` varchar(255) DEFAULT NULL,
  `nit` varchar(50) DEFAULT NULL,
  `billing_resolution` text DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `phone` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `logo_path` varchar(255) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `satrack_api_key` varchar(255) DEFAULT NULL,
  `satrack_token` varchar(255) DEFAULT NULL,
  `satrack_api_url` varchar(255) DEFAULT 'https://api.satrack.com/v1/locations',
  `unusual_expense_threshold` decimal(15,2) DEFAULT 1000000.00,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `expense_categories`
--

DROP TABLE IF EXISTS `expense_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expense_categories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `type` enum('variable','fixed') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_id` int(11) DEFAULT NULL,
  `vehicle_id` int(11) DEFAULT NULL,
  `category` varchar(50) NOT NULL,
  `paid_by` enum('Conductor','Propietario') NOT NULL DEFAULT 'Conductor',
  `amount` decimal(15,2) NOT NULL,
  `description` text DEFAULT NULL,
  `receipt_photo` varchar(255) DEFAULT NULL,
  `date` date NOT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `eds_name` varchar(100) DEFAULT NULL,
  `eds_location` varchar(100) DEFAULT NULL,
  `eds_state_id` int(11) DEFAULT NULL,
  `eds_city_id` int(11) DEFAULT NULL,
  `invoice_number` varchar(50) DEFAULT NULL,
  `gallons` decimal(10,2) DEFAULT NULL,
  `price_per_gallon` decimal(10,2) DEFAULT NULL,
  `invoice_status` enum('Pendiente','Cancelada') DEFAULT 'Pendiente',
  `created_by` int(11) DEFAULT NULL,
  `supplier_id` int(11) DEFAULT NULL,
  `tank_mileage` decimal(10,2) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `fk_expenses_supplier` (`supplier_id`),
  KEY `idx_expenses_trip` (`trip_id`),
  KEY `idx_expenses_vehicle` (`vehicle_id`),
  KEY `idx_expenses_category` (`category`),
  KEY `idx_expenses_date` (`date`),
  KEY `idx_expenses_paid_by` (`paid_by`),
  KEY `idx_expense_eds_city` (`eds_city_id`),
  CONSTRAINT `expenses_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE,
  CONSTRAINT `expenses_ibfk_2` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`),
  CONSTRAINT `expenses_ibfk_3` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_expenses_supplier` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fuel_vouchers`
--

DROP TABLE IF EXISTS `fuel_vouchers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fuel_vouchers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vehicle_id` int(11) NOT NULL,
  `trip_id` int(11) DEFAULT NULL,
  `driver_id` int(11) DEFAULT NULL,
  `date` date NOT NULL,
  `gallons` decimal(10,2) DEFAULT 0.00,
  `price_per_gallon` decimal(10,2) DEFAULT 0.00,
  `total_amount` decimal(10,2) DEFAULT 0.00,
  `station_name` varchar(255) DEFAULT NULL,
  `station_location` varchar(255) DEFAULT NULL,
  `receipt_number` varchar(100) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT 'Efectivo',
  `invoice_required` tinyint(1) DEFAULT 0,
  `invoice_number` varchar(100) DEFAULT NULL,
  `odometer_reading` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_vehicle_id` (`vehicle_id`),
  KEY `idx_trip_id` (`trip_id`),
  KEY `idx_driver_id` (`driver_id`),
  KEY `idx_date` (`date`),
  CONSTRAINT `fuel_vouchers_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fuel_vouchers_ibfk_2` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fuel_vouchers_ibfk_3` FOREIGN KEY (`driver_id`) REFERENCES `personnel` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `loc_cities`
--

DROP TABLE IF EXISTS `loc_cities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loc_cities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `state_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_loc_cities_state_id` (`state_id`),
  KEY `idx_loc_cities_name` (`name`),
  CONSTRAINT `loc_cities_ibfk_1` FOREIGN KEY (`state_id`) REFERENCES `loc_states` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1127 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `loc_countries`
--

DROP TABLE IF EXISTS `loc_countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loc_countries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `code` varchar(5) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_loc_countries_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `loc_states`
--

DROP TABLE IF EXISTS `loc_states`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loc_states` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `country_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_loc_states_country_id` (`country_id`),
  KEY `idx_loc_states_name` (`name`),
  CONSTRAINT `loc_states_ibfk_1` FOREIGN KEY (`country_id`) REFERENCES `loc_countries` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `locations`
--

DROP TABLE IF EXISTS `locations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `locations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `country_id` int(11) DEFAULT NULL,
  `state_id` int(11) DEFAULT NULL,
  `city_id` int(11) DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `country_id` (`country_id`),
  KEY `state_id` (`state_id`),
  KEY `city_id` (`city_id`),
  CONSTRAINT `locations_ibfk_1` FOREIGN KEY (`country_id`) REFERENCES `loc_countries` (`id`),
  CONSTRAINT `locations_ibfk_2` FOREIGN KEY (`state_id`) REFERENCES `loc_states` (`id`),
  CONSTRAINT `locations_ibfk_3` FOREIGN KEY (`city_id`) REFERENCES `loc_cities` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `schedule_id` int(11) NOT NULL,
  `performed_date` date NOT NULL,
  `performed_at_kms` decimal(15,2) NOT NULL,
  `cost` decimal(15,2) DEFAULT 0.00,
  `technician` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `receipt_photo` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `schedule_id` (`schedule_id`),
  CONSTRAINT `maintenance_logs_ibfk_1` FOREIGN KEY (`schedule_id`) REFERENCES `maintenance_schedules` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `maintenance_schedules`
--

DROP TABLE IF EXISTS `maintenance_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maintenance_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `vehicle_id` int(11) NOT NULL,
  `task_name` varchar(255) NOT NULL,
  `interval_kms` int(11) NOT NULL,
  `interval_days` int(11) DEFAULT NULL,
  `last_service_kms` decimal(15,2) DEFAULT 0.00,
  `last_service_date` date DEFAULT NULL,
  `next_service_kms` decimal(15,2) DEFAULT 0.00,
  `next_service_date` date DEFAULT NULL,
  `warning_margin_kms` int(11) DEFAULT 500,
  `warning_margin_days` int(11) DEFAULT 7,
  `priority` enum('Baja','Media','Alta','Cr├¡tica') DEFAULT 'Media',
  `active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_maint_vehicle` (`vehicle_id`),
  KEY `idx_maint_next_kms` (`next_service_kms`),
  KEY `idx_maint_next_date` (`next_service_date`),
  CONSTRAINT `maintenance_schedules_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `manifest_companies`
--

DROP TABLE IF EXISTS `manifest_companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `manifest_companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `materials`
--

DROP TABLE IF EXISTS `materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materials` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `active` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `migrations_log`
--

DROP TABLE IF EXISTS `migrations_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `migration_name` varchar(255) NOT NULL,
  `executed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `personnel`
--

DROP TABLE IF EXISTS `personnel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `personnel` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `firstname` varchar(255) DEFAULT NULL,
  `lastname` varchar(255) DEFAULT NULL,
  `document_number` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `license_number` varchar(50) DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  `address` varchar(255) DEFAULT NULL,
  `country` varchar(100) DEFAULT 'Colombia',
  `city_residence` varchar(100) DEFAULT NULL,
  `dob` date DEFAULT NULL,
  `bank_account` varchar(100) DEFAULT NULL,
  `type` enum('Administrativo','Conductor','Socio / Propietario') DEFAULT 'Conductor',
  `document_type` enum('CC','CE','NIT','Pasaporte') DEFAULT 'CC',
  `city` varchar(100) DEFAULT NULL,
  `department` varchar(100) DEFAULT NULL,
  `gender` enum('Masculino','Femenino') DEFAULT 'Masculino',
  `license_category` varchar(10) DEFAULT NULL,
  `date_entry` date DEFAULT NULL,
  `date_exit` date DEFAULT NULL,
  `salary_basic` decimal(15,2) DEFAULT 0.00,
  `salary_variable` decimal(15,2) DEFAULT 0.00,
  `salary_internal` decimal(15,2) DEFAULT 0.00,
  `transport_assistance` decimal(15,2) DEFAULT 0.00,
  `license_expiry` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_personnel_active` (`active`,`type`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `settlements`
--

DROP TABLE IF EXISTS `settlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settlements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `personnel_id` int(11) NOT NULL,
  `month` int(11) NOT NULL,
  `year` int(11) NOT NULL,
  `date_start` date DEFAULT NULL,
  `date_end` date DEFAULT NULL,
  `salary_basic` decimal(15,2) NOT NULL,
  `transport_assistance` decimal(15,2) NOT NULL,
  `total_commissions` decimal(15,2) NOT NULL,
  `total_advances_manifest` decimal(15,2) DEFAULT 0.00,
  `total_advances_owner` decimal(15,2) DEFAULT 0.00,
  `total_advances` decimal(15,2) NOT NULL,
  `total_expenses` decimal(15,2) NOT NULL,
  `balance_to_discount` decimal(15,2) NOT NULL,
  `partial_payment` decimal(15,2) DEFAULT 0.00,
  `net_to_pay` decimal(15,2) NOT NULL,
  `notes` text DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `personnel_id` (`personnel_id`),
  KEY `created_by` (`created_by`),
  CONSTRAINT `settlements_ibfk_1` FOREIGN KEY (`personnel_id`) REFERENCES `personnel` (`id`),
  CONSTRAINT `settlements_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `person_type` enum('Natural','Jur├¡dica') DEFAULT 'Natural',
  `tax_regime` enum('Com├║n','Simplificado') DEFAULT 'Simplificado',
  `nit` varchar(50) DEFAULT NULL,
  `firstname` varchar(100) DEFAULT NULL,
  `lastname1` varchar(100) DEFAULT NULL,
  `lastname2` varchar(100) DEFAULT NULL,
  `business_name` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `country` varchar(100) DEFAULT 'Colombia',
  `department` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account` varchar(100) DEFAULT NULL,
  `account_type` enum('Ahorros','Corriente') DEFAULT 'Ahorros',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `system_alerts`
--

DROP TABLE IF EXISTS `system_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_alerts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(50) NOT NULL,
  `entity_id` int(11) DEFAULT NULL,
  `entity_type` varchar(50) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `message` text DEFAULT NULL,
  `priority` varchar(20) DEFAULT 'normal',
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trip_payments`
--

DROP TABLE IF EXISTS `trip_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trip_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_id` int(11) NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `payment_concept` varchar(50) DEFAULT 'Abono',
  `payment_date` date NOT NULL,
  `payment_method` varchar(50) DEFAULT 'Transferencia',
  `reference` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `trip_id` (`trip_id`),
  CONSTRAINT `trip_payments_ibfk_1` FOREIGN KEY (`trip_id`) REFERENCES `trips` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trips` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `trip_type` enum('urbano','nacional','internacional') NOT NULL,
  `vehicle_id` int(11) NOT NULL,
  `client_id` int(11) DEFAULT NULL,
  `driver_id` int(11) NOT NULL,
  `material_id` int(11) DEFAULT NULL,
  `origin_point_id` int(11) DEFAULT NULL,
  `origin` varchar(255) DEFAULT NULL,
  `origin_city_id` int(11) DEFAULT NULL,
  `origin_state_id` int(11) DEFAULT NULL,
  `destination_point_id` int(11) DEFAULT NULL,
  `destination` varchar(255) DEFAULT NULL,
  `destination_city_id` int(11) DEFAULT NULL,
  `destination_state_id` int(11) DEFAULT NULL,
  `date_load` date DEFAULT NULL,
  `date_unload` date DEFAULT NULL,
  `kms_start` decimal(10,2) DEFAULT 0.00,
  `kms_end` decimal(10,2) DEFAULT 0.00,
  `kms_total` decimal(10,2) DEFAULT 0.00,
  `manifest_company` varchar(255) DEFAULT NULL,
  `manifest_company_id` int(11) DEFAULT NULL,
  `manifest_number` varchar(100) DEFAULT NULL,
  `manifest_date` date DEFAULT NULL,
  `weight_declared` decimal(10,2) DEFAULT 0.00,
  `weight_origin` decimal(10,2) DEFAULT 0.00,
  `weight_dest` decimal(10,2) DEFAULT 0.00,
  `flete_bruto` decimal(15,2) DEFAULT 0.00,
  `percent_rete_fuente` decimal(5,2) DEFAULT 0.00,
  `value_rete_fuente` decimal(15,2) DEFAULT 0.00,
  `percent_rete_ica` decimal(5,2) DEFAULT 0.00,
  `percent_iva` decimal(5,2) DEFAULT 0.00,
  `percent_rete_iva` decimal(5,2) DEFAULT 0.00,
  `value_rete_ica` decimal(15,2) DEFAULT 0.00,
  `value_iva` decimal(15,2) DEFAULT 0.00,
  `value_rete_iva` decimal(15,2) DEFAULT 0.00,
  `percent_deductible_3` decimal(5,2) DEFAULT 0.00,
  `value_deductible_3` decimal(15,2) DEFAULT 0.00,
  `value_deductible_4` decimal(15,2) DEFAULT 0.00,
  `value_deductible_5` decimal(15,2) DEFAULT 0.00,
  `value_deductible_6` decimal(15,2) DEFAULT 0.00,
  `total_deductibles` decimal(15,2) DEFAULT 0.00,
  `flete_neto` decimal(15,2) DEFAULT 0.00,
  `advance_owner` decimal(15,2) DEFAULT 0.00,
  `advance_owner_responsible` varchar(255) DEFAULT NULL,
  `advance_manifest` decimal(15,2) DEFAULT 0.00,
  `advance_manifest_to_driver` tinyint(1) DEFAULT 0,
  `commission_percent` decimal(5,2) DEFAULT 0.00,
  `commission_value` decimal(15,2) DEFAULT 0.00,
  `final_pay_expected` decimal(15,2) DEFAULT 0.00,
  `final_pay_received` decimal(15,2) DEFAULT 0.00,
  `settlement_status` enum('Pending','Settled') DEFAULT 'Pending',
  `settlement_notes` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  `status` enum('En Progreso','Finalizado','Cancelado') DEFAULT 'En Progreso',
  `delivery_proof_url` varchar(255) DEFAULT NULL,
  `manifest_file` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `material_id` (`material_id`),
  KEY `manifest_company_id` (`manifest_company_id`),
  KEY `created_by` (`created_by`),
  KEY `idx_trips_vehicle` (`vehicle_id`),
  KEY `idx_trips_driver` (`driver_id`),
  KEY `idx_trips_status` (`status`),
  KEY `idx_trips_date_load` (`date_load`),
  KEY `idx_client_id` (`client_id`),
  KEY `idx_trips_client` (`client_id`),
  KEY `idx_trips_settlement` (`settlement_status`),
  KEY `idx_trips_report_monthly` (`date_load`,`status`),
  KEY `origin_city_id` (`origin_city_id`),
  KEY `origin_state_id` (`origin_state_id`),
  KEY `destination_city_id` (`destination_city_id`),
  KEY `destination_state_id` (`destination_state_id`),
  CONSTRAINT `fk_trips_client` FOREIGN KEY (`client_id`) REFERENCES `clients` (`id`),
  CONSTRAINT `trips_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicles` (`id`),
  CONSTRAINT `trips_ibfk_2` FOREIGN KEY (`driver_id`) REFERENCES `personnel` (`id`),
  CONSTRAINT `trips_ibfk_3` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`),
  CONSTRAINT `trips_ibfk_4` FOREIGN KEY (`manifest_company_id`) REFERENCES `manifest_companies` (`id`),
  CONSTRAINT `trips_ibfk_5` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `trips_ibfk_6` FOREIGN KEY (`origin_city_id`) REFERENCES `loc_cities` (`id`),
  CONSTRAINT `trips_ibfk_7` FOREIGN KEY (`origin_state_id`) REFERENCES `loc_states` (`id`),
  CONSTRAINT `trips_ibfk_8` FOREIGN KEY (`destination_city_id`) REFERENCES `loc_cities` (`id`),
  CONSTRAINT `trips_ibfk_9` FOREIGN KEY (`destination_state_id`) REFERENCES `loc_states` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `full_name` varchar(100) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','common') NOT NULL DEFAULT 'common',
  `related_client_id` int(11) DEFAULT NULL,
  `related_personnel_id` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `avatar` varchar(255) DEFAULT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `last_login` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `fk_user_client` (`related_client_id`),
  KEY `fk_user_personnel` (`related_personnel_id`),
  CONSTRAINT `fk_user_client` FOREIGN KEY (`related_client_id`) REFERENCES `clients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_user_personnel` FOREIGN KEY (`related_personnel_id`) REFERENCES `personnel` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `placa` varchar(20) NOT NULL,
  `satrack_id` varchar(100) DEFAULT NULL,
  `ownership_type` enum('Propio','Tercero','Socio') DEFAULT 'Propio',
  `partner_id` int(11) DEFAULT NULL,
  `partner_percentage` decimal(5,2) DEFAULT 0.00,
  `brand` varchar(100) DEFAULT NULL,
  `model` varchar(100) DEFAULT NULL,
  `active` tinyint(1) DEFAULT 1,
  `category` varchar(50) DEFAULT NULL,
  `model_year` varchar(10) DEFAULT NULL,
  `color` varchar(50) DEFAULT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `motor_number` varchar(100) DEFAULT NULL,
  `chasis_number` varchar(100) DEFAULT NULL,
  `displacement` varchar(50) DEFAULT NULL,
  `max_load` varchar(50) DEFAULT NULL,
  `register_city` varchar(100) DEFAULT NULL,
  `register_country` varchar(100) DEFAULT 'Colombia',
  `register_department` varchar(100) DEFAULT NULL,
  `expiry_soat` date DEFAULT NULL,
  `expiry_tecno` date DEFAULT NULL,
  `expiry_policy` date DEFAULT NULL,
  `default_driver_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `placa` (`placa`),
  KEY `fk_vehicle_driver` (`default_driver_id`),
  KEY `fk_vehicle_partner` (`partner_id`),
  CONSTRAINT `fk_vehicle_driver` FOREIGN KEY (`default_driver_id`) REFERENCES `personnel` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_vehicle_partner` FOREIGN KEY (`partner_id`) REFERENCES `personnel` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary table structure for view `view_vehicle_availability`
--

DROP TABLE IF EXISTS `view_vehicle_availability`;
/*!50001 DROP VIEW IF EXISTS `view_vehicle_availability`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `view_vehicle_availability` AS SELECT
 1 AS `id`,
  1 AS `placa`,
  1 AS `last_kms`,
  1 AS `is_busy` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `view_vehicle_availability`
--

/*!50001 DROP VIEW IF EXISTS `view_vehicle_availability`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8 */;
/*!50001 SET character_set_results     = utf8 */;
/*!50001 SET collation_connection      = utf8_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `view_vehicle_availability` AS select `v`.`id` AS `id`,`v`.`placa` AS `placa`,(select `t`.`kms_end` from `trips` `t` where `t`.`vehicle_id` = `v`.`id` order by `t`.`date_load` desc,`t`.`id` desc limit 1) AS `last_kms`,exists(select 1 from `trips` `t` where `t`.`vehicle_id` = `v`.`id` and `t`.`status` = 'En Progreso' limit 1) AS `is_busy` from `vehicles` `v` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-07 21:14:38
